* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  color: rgb(236, 240, 244);
  background-color: #242424;
  font-family: "Montserrat", system-ui;
}