.container-participantes {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 800px;
    margin: 2rem 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width:850px){
    .container-participantes {
        margin: 2rem auto;
    }

}

.container-participantes h2 {
    margin-bottom: 20px;
}


input[type="text"] {
    padding: 10px;
    border: 1px solid #d7d5d5;
    border-radius: 5px;
    font-size: 16px;
}

.agregar {
    background-color: #800080;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.agregar:hover {
    background-color: darkviolet;
}

.list-participantes{
    display: flex;
    flex-wrap: wrap;
}

.list-participantes ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.list-participantes li {
    margin: 1rem .6rem;
    font-size: 18px;
    align-items: center;
}


.boton-agregar {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 1rem; 
}

.boton-agregar input {
    flex: 1; 
    margin-right: 10px; 
}

.boton-agregar button.agregar {
    flex: 0; 
}

.delete-all {
    background-color: #da3914;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-all:hover{
    background-color: #b13013;
}

@media only screen and (max-width: 850px) {
    .boton-agregar {
        flex-direction: column; 
        align-items: stretch; 
    }

    .boton-agregar input {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    .boton-agregar button.agregar {
        width: 100%; 
    }
}