.reloj {
    display: flex;
    align-items: stretch; 
    justify-content: center;
    font-size: 16px;
    padding: 1rem 2rem;
    margin: 10px auto;
    max-width: 400px;
}


.variable {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
    margin: 6px auto;
}

.descripcion {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #999;
    margin: 6px auto;
}

.separador{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 9px 12px;
    
}

@media (min-width: 768px){
    .variable{
        font-size: 3rem;
    }
    .descripcion{
        font-size: 1.2rem;
    }

}